#textdomain wesnoth-multiplayer

[multiplayer]
    id=EoHS_Plane_of_Chaos
    name= _ "EoHS — 2-6p — The Plane of Chaos"
    map_data="border_size=1
usage=map

Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, 6 Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, 3 Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, 2 Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, 1 Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, 4 Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, 5 Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf, Wo^Ecf
"
    description= _ "Chaos!"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        canrecruit=yes
        controller=human
        fog=yes
    [/side]
    [side]
        side=2
        canrecruit=yes
        controller=human
        fog=yes
    [/side]
    [side]
        side=3
        canrecruit=yes
        controller=human
        fog=yes
    [/side]
    [side]
        side=4
        canrecruit=yes
        controller=human
        fog=yes
    [/side]
    [side]
        side=5
        canrecruit=yes
        controller=human
        fog=yes
    [/side]
    [side]
        side=6
        canrecruit=yes
        controller=human
        fog=yes
    [/side]
    
    {EOHS_EVENTS () ("")}
    
    
    
    
    
    
    
    
    [event]
      name=side 1 turn 1
      first_time_only=no
      [lua]
        code=<<--chaos start

EoHS.begin_event (true, true, true)
local width, height = wesnoth.get_map_size()


local units = wesnoth.get_units ({})
for index, unit in ipairs (units) do
  if unit.canrecruit then
    wesnoth.extract_unit (unit)
    while true do
      unit.x = EoHS.random ("1.."..width)
      unit.y = EoHS.random ("1.."..height)
      if EoHS.distance_between (unit.x, unit.y, 18, 18) <= EoHS.random ("14..16") and EoHS.distance_between (unit.x, unit.y, 18, 18) >= EoHS.random ("0..6") then
        local too_close = false
        for previous = 1,index - 1 do
          if EoHS.distance_between (unit.x, unit.y, units [previous].x, units [previous].y) <= EoHS.random ("3..7") then
            too_close = true
          end
        end
        if not too_close then
          break
        end
      end
    end
    wesnoth.put_unit (unit)
  end
end



for index = 1,23 do
      local parameters = {
        action_id = "permanent_expansive_change",
      }

      while not (parameters.target_x and EoHS.distance_between (parameters.target_x, parameters.target_y, 18, 18) <= EoHS.random ("1..10")) do
        parameters.target_x = EoHS.random ("1.."..width)
        parameters.target_y = EoHS.random ("1.."..height)
        parameters.src_x = parameters.target_x
        parameters.src_y = parameters.target_y
      end
      
      parameters.terrain_change_type = EoHS.random ("raise,sink,flatten,flatten,heat,cool,grow,grow,rot,clear,clear")
      if index <= EoHS.random ("1..20") then parameters.terrain_change_type = EoHS.random ("raise,flatten") end
      parameters.terrain_change_shape = "expansive_change"
      
      wesnoth.fire ("redraw")
      wesnoth.fire ("delay",{time = 10})
      wesnoth.fire ("redraw")
      EoHS.try_action (parameters)
end

for index, unit in ipairs (units) do
  if unit.canrecruit then
      local parameters = {
        action_id = "construction",
        src_x = unit.x,
        src_y = unit.y,
        terrain_change_type = "castle",
        terrain_change_shape = "construction",
      }
      
      wesnoth.fire ("redraw")
      wesnoth.fire ("delay",{time = 10})
      wesnoth.fire ("redraw")
      EoHS.try_action (parameters)
  end
end
EoHS.end_event()
        >>
      [/lua]
    [/event]
    
    
    [event]
      name=turn_refresh
      first_time_only=no
      [lua]
        code=<<
EoHS.begin_event (true, true, true)
if wesnoth.current.turn >= 2 then
  EoHS.do_random_spell()
  EoHS.do_random_spell()
  EoHS.do_random_spell()
end
EoHS.end_event()
        >>
      [/lua]
    [/event]
[/multiplayer]
