[textdomain]
    name="wesnoth-Era_of_High_Sorcery"
    path="data/add-ons/Era_of_High_Sorcery/translations"
[/textdomain]
#textdomain wesnoth-Era_of_High_Sorcery

#ifdef MULTIPLAYER

#define EOHS_VERSION_STRING
"2.1.0.2"#enddef

# TODO: un-duplicate with website
#define EOHS_DESCRIPTION
_"Era of High Sorcery (EoHS) is an era where your leader is a powerful wizard whose spells can alter the nature of the entire battlefield (sometimes literally!). EoHS features:
- Three realms of magic, each with more than a dozen unique spells
- Pick your recruits from one or more factions
- Ability to customize your wizard's appearance, changing their hairstyle and recoloring their robes and equipment – plus several hats you can earn by performing in-game feats
- No download required for non-host players – anyone can join or observe an EoHS game
- Freely available on the add-on servers for Wesnoth 1.10 and 1.11"#enddef

#define EOHS_LUA_FILE CODE

  [lua]
    code={CODE}
  [/lua]
#enddef

#define EOHS_GIVE_TAG_MACRO_TO_LUA MACRO
[set_variables]
  name=EoHS.GIVE_TAG_MACRO_TO_LUA
  mode=replace
  [literal]
    {{MACRO}}
  [/literal]
[/set_variables]
[lua]
  code="EoHS.macros.{MACRO} = wesnoth.get_variable(""EoHS.GIVE_TAG_MACRO_TO_LUA"")"
[/lua]
#enddef

#define EOHS_GIVE_VALUE_MACRO_TO_LUA MACRO
[set_variable]
  name=EoHS.GIVE_VALUE_MACRO_TO_LUA
  literal={{MACRO}}
[/set_variable]
[lua]
  code="EoHS.macros.{MACRO} = wesnoth.get_variable(""EoHS.GIVE_VALUE_MACRO_TO_LUA"")"
[/lua]
#enddef
  
#define EOHS_EVENTS BEFORE_PRELOAD_CODE INIT_CODE
  [event]
    name=prestart
    [if]
      [variable]
        name="EoHS_prestart_occurred"
        boolean_equals="true"
      [/variable]
      [then]
        [lua]
          code=<<EoHS.message("This game was hosted with two instances of EoHS at the same time. The second one is being ignored.")>>
        [/lua]
      [/then]
      [else]
        [set_variable]
          name="EoHS_prestart_occurred"
          value="true"
        [/set_variable]
        [set_variables]
          name=EoHS.wesnoth_cfgs.terrain
          mode=replace
          [literal]
            {core/terrain.cfg}
          [/literal]
        [/set_variables]
        [set_variables]
          name=EoHS.wesnoth_cfgs.team_colors
          mode=replace
          [literal]
            {core/team-colors.cfg}
          [/literal]
        [/set_variables]
        [set_variables]
          name=EoHS.preload
          [literal]
            [lua]
              code=<<--EOHS_ERA_SHARED
    EoHS = {
      helper = wesnoth.require("lua/helper.lua"),
      _ = wesnoth.textdomain("wesnoth-Era_of_High_Sorcery"),
      macros = {},
      context = {unison=false, synchronized=false, in_event=false} -- The appropriate context for the preload stuff
    }
    >>
            [/lua]
            [lua]
              code={BEFORE_PRELOAD_CODE}
            [/lua]
            
            {EOHS_GIVE_TAG_MACRO_TO_LUA ABILITY_HEALS}
            {EOHS_GIVE_TAG_MACRO_TO_LUA ABILITY_CURES}
            {EOHS_GIVE_TAG_MACRO_TO_LUA ABILITY_REGENERATES}
            {EOHS_GIVE_TAG_MACRO_TO_LUA ABILITY_SKIRMISHER}
            {EOHS_GIVE_TAG_MACRO_TO_LUA ABILITY_SUBMERGE}
            {EOHS_GIVE_TAG_MACRO_TO_LUA ABILITY_ILLUMINATES}
            {EOHS_GIVE_TAG_MACRO_TO_LUA ABILITY_LEADERSHIP_LEVEL_1}
            {EOHS_GIVE_TAG_MACRO_TO_LUA WEAPON_SPECIAL_SLOW}
            {EOHS_GIVE_TAG_MACRO_TO_LUA WEAPON_SPECIAL_DRAIN}
            {EOHS_GIVE_TAG_MACRO_TO_LUA WEAPON_SPECIAL_PLAGUE}
            {EOHS_GIVE_TAG_MACRO_TO_LUA WEAPON_SPECIAL_POISON}
            {EOHS_GIVE_TAG_MACRO_TO_LUA WEAPON_SPECIAL_CHARGE}
            {EOHS_GIVE_TAG_MACRO_TO_LUA WEAPON_SPECIAL_MAGICAL}
            {EOHS_GIVE_TAG_MACRO_TO_LUA WEAPON_SPECIAL_MARKSMAN}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_STRONG}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_QUICK}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_INTELLIGENT}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_RESILIENT}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_DEXTROUS}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_HEALTHY}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_FEARLESS}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_WEAK}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_DIM}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_SLOW}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_UNDEAD}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_MECHANICAL}
            {EOHS_GIVE_TAG_MACRO_TO_LUA TRAIT_LOYAL}
            {EOHS_GIVE_VALUE_MACRO_TO_LUA EOHS_VERSION_STRING}
            {EOHS_GIVE_VALUE_MACRO_TO_LUA EOHS_DESCRIPTION}
            
            {gui/default/macros/_initial.cfg}
            {EOHS_GIVE_TAG_MACRO_TO_LUA GUI__LISTBOX_SELECTED_CELL}
            {EOHS_GIVE_VALUE_MACRO_TO_LUA GUI__BACKGROUND_COLOR_ENABLED}
            {EOHS_GIVE_VALUE_MACRO_TO_LUA GUI__TEXT_VERTICALLY_CENTRED}
            {EOHS_GIVE_VALUE_MACRO_TO_LUA GUI__TEXT_HORIZONTALLY_CENTRED}
            {EOHS_GIVE_VALUE_MACRO_TO_LUA GUI__FONT_COLOR_ENABLED__DEFAULT}
            {EOHS_GIVE_VALUE_MACRO_TO_LUA GUI__FONT_COLOR_ENABLED__TITLE}
            {EOHS_GIVE_VALUE_MACRO_TO_LUA GUI__FONT_COLOR_DISABLED__TITLE}
            {EOHS_GIVE_VALUE_MACRO_TO_LUA GUI_NORMAL__FONT_SIZE__LARGE}
            {EOHS_GIVE_VALUE_MACRO_TO_LUA GUI_NORMAL__FONT_SIZE__SMALL}
            
            {CLEAR_VARIABLE EoHS.GIVE_TAG_MACRO_TO_LUA}
            {CLEAR_VARIABLE EoHS.GIVE_VALUE_MACRO_TO_LUA}
            
            {~add-ons/Era_of_High_Sorcery/lua_files/}
            {~add-ons/Era_of_High_Sorcery/lua_files/actions/}
            [lua]
              code="for i,func in ipairs(EoHS.end_of_preload_funcs) do func() end; EoHS.context = nil"
            [/lua]
          [/literal]
        [/set_variables]
        [insert_tag]
          name=command
          variable=EoHS.preload
        [/insert_tag]
        [lua]
          code={INIT_CODE}
        [/lua]
      [/else]
    [/if]
  [/event]
#enddef

#define EOHS_ERA_SHARED TYPE_NAME INIT_CODE
  require_era=no
  
  [multiplayer_side]
    id=EoHS_Faction
    name="&icons/scroll_red.png="+_"Wizards (v"+{EOHS_VERSION_STRING}+", "+{TYPE_NAME}+")"
    type="Red Mage"
    leader="Red Mage"
  [/multiplayer_side]
  
  {EOHS_EVENTS ("") ({INIT_CODE})}
#enddef

[era]
  id="EoHS: Era of High Sorcery"
  name= _ "EoHS: Era of High Sorcery"
  description={EOHS_DESCRIPTION}
  # TODO: description=, for 1.11
  {EOHS_ERA_SHARED (_"Default") (<<EoHS.init_campaign()>>)}
[/era]

[era]
  id="EoHS: Alternative settings"
  name= _ "EoHS: Alternative settings"
  description={EOHS_DESCRIPTION}
  {EOHS_ERA_SHARED (_"Alt settings") (<<EoHS.init_campaign({ first_player_picks_settings=true })>>)}
[/era]

#ifver WESNOTH_VERSION >= 1.11.10
[modification]
  id="EoHS with any era"
  name= _ "EoHS with any era"
  description=_"In this version of EoHS, the alliances are replaced with the factions from whatever era you choose.
 
"+{EOHS_DESCRIPTION}
  {EOHS_EVENTS (<<EoHS.replace_alliances_with_era=true>>) (<<EoHS.init_campaign()>>)}
[/modification]

[modification]
  id="EoHS with any era: Alternative settings"
  name= _ "EoHS with any era: Alternative settings"
  description=_"In this version of EoHS, the alliances are replaced with the factions from whatever era you choose.
 
"+{EOHS_DESCRIPTION}
  {EOHS_EVENTS (<<EoHS.replace_alliances_with_era=true>>) (<<EoHS.init_campaign({ first_player_picks_settings=true })>>)}
[/modification]
#endif

[+units]
  [unit_type]
    id="EoHS_local_version_checker"
    name={EOHS_VERSION_STRING}
    hide_help="true"
    do_not_list="true"
    alignment="neutral"
  [/unit_type]
[/units]

#endif

